.container
  table(border='0', style='width: 80%; ', align='center', cellspacing='1', cellpadding='1')
    tbody
      tr
        td(style='text-align: right;width: 20%;')
          a(href='http://www.manit.ac.in')
            img(style='width:100px;height:100px;', src='images/manit_logo.png', alt='Photo Not Found')
        th(style='text-align: center; width:100%;font-size:16pt !important;color:white;')
          | Maulana Azad National Institute of Technology, Bhopal 
          br
          |  Bhopal-462003, Madhya Pradesh, India
  br
  br
