nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  //a.navbar-brand(href='#') Navbar
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor02', aria-controls='navbarColor02', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarColor02.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/home')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/new') New Application
      li.nav-item
        a.nav-link(href='/my') My Application(s)
    //-   li.nav-item
    //-     a.nav-link(href='#') Print
    //-   li.nav-item
    //-     a.nav-link(href='#') Submit
    ul.nav.navbar-nav.navbar-right
        li.nav-item
            a.nav-item.nav-link.disabled(href='#', tabindex='-1', aria-disabled='true') #{user.name}
    form.form-inline(role='form', action="/logout",method="get")
      //input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')      
      button.btn.btn-outline-light.my-2.my-sm-0(type='submit') logout

