doctype html
html
  include includes/head.pug
  body
  .container
    include includes/manit_header.pug
    .container(id="form-container")
      h1 Forgot Password?
      p.lead Enter your email which you used during registration.
      br
      form(role='form', action="/forgot",method="post", style='max-width: 300px;')
        if (message)
          .alert.alert-danger(role='alert') #{message}        
        .form-group
          label(for="username") Email
          input.form-control(type='email', id="username",name="username", placeholder='Enter your registered E-mail', pattern!="[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$", required)
          
        
        .form-group(align="left")
          button.btn.btn-primary(type='submit') Submit
      br
      a(href='login', bgcolor="white") Log in 
    
      br
      a(href='register') Create New Account
 
    