doctype html
html
  include includes/head.pug  
  body
  .container
    include includes/manit_header.pug    
    include includes/navbar.pug
    .container(id="form-container")
      p(style="font-size:16pt ")