doctype html
html
  include includes/head.pug  
  body
  .container
    include includes/manit_header.pug
    .container(id="form-container")
      h1 Login 
      p.lead Faculty Recruitment Portal.
      br
      form(role='form', action="/login",method="post", style='max-width: 300px;')
        if (message)
          .alert.alert-danger(role='alert') #{message}
        .form-group
          label(for="username") Email
          input.form-control(type='email', id="username", name="username", placeholder='Enter E-mail', required)
        .form-group
          label(for="password") Password
          input.form-control(type='password', id="password", name="password", placeholder='Password', required)
        .form-group(align="left")
          button.btn.btn-primary(type='submit') Submit
      br
      a(href='register') Creat New Account 
    
      br
      a(href='forgot') Lost your Password ? 
  script.
    $(function(){
      $("form").validate({
        rules:{          
        },
        submitHandler: function(form){
          form.submit();
        }
      });
    });